<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="app" point="org.eclipse.core.runtime.applications">
      <application visible="true" cardinality="singleton-global" thread="main">
         <run class="org.talendadmin.cibuilder.CIBuilderApplication"/>
      </application>
   </extension>
</plugin>
